<?xml version="1.0" encoding="UTF-8"?>
<beans  xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd "
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean id="user001"  class="com.penn.spring.ioc.vo.User">
        <constructor-arg ref="order001"></constructor-arg>
    </bean>
    <bean id="order001" class="com.penn.spring.ioc.vo.Order">
        <constructor-arg ref="user001"></constructor-arg>
    </bean>

</beans>